{% extends 'base.html' %}

{% block style %}
<style>
  .password-size input {
    padding: 20px;
    font-size: 17px;
    margin-bottom: 25px;
    width: 500px;
  }

</style>    
{% endblock style %}

{% block content %}
<div class='mt-5 mb-5 d-flex justify-content-center'>
    <form action="{% url 'accounts:change_password' %}" method="POST">
        <div class="password-size">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <input type="submit" value="비밀번호 변경" class="btn btn-success fw-bold" style="width:100%; padding:15px;">
    </form>
</div>
{% endblock content %}