<nav class="fixed-top navbar navbar-expand-lg bg-body-tertiary px-5">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="{% url 'posts:index' %}">Home</a>
    </div>
    
    <div class="d-flex align-items-center gap-2">
      {% if request.user.is_authenticated %}
      <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ user }}
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">내 프로필</a></li>
          <li><a class="dropdown-item" href="{% url 'accounts:update' %}">프로필 편집</a></li>
          <li>
            <form action="{% url 'accounts:logout' %}" method="POST">
              {% csrf_token %}
              <button class="dropdown-item" type="submit" onclick="return confirm('로그아웃하시겠습니까?')">로그아웃</button>
            </form>
          </li>
          <li>
            <form action="{% url 'accounts:delete' %}" method="POST">
              {% csrf_token %}
              <button class="dropdown-item" type="submit" onclick="return confirm('탈퇴하시겠습니까?')">회원탈퇴</button>
            </form>
          </li>
        </ul>
      </div>

      {% else %}
      <a class="btn" href="{% url 'accounts:login' %}" type="submit">
        로그인
      </a>
      <a class="btn btn-primary" href="{% url 'accounts:signup' %}">회원 가입</a>
      {% endif %}
    </div>
  </div>
</nav>