<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Sharp|Material+Icons+Two+Tone|Material+Icons+Outlined|Material+Icons+Round" rel="stylesheet">
  <title>Detail</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
    
    body {
      margin: 1rem 1.5rem;
      width: 50%;
      font-family: 'Noto Sans KR', sans-serif;
    }

    p {
      font-size: 1.2rem;
    }

    .date {
      font-size: 0.9rem;
      margin-bottom: 0.8rem;
      color: rgba(33, 37, 41, 0.75);
    }

  </style>
</head>
<body>
  <div class="d-flex align-items-center">
    <a href="{% url 'abs:index' %}" class="text-body-secondary me-3">
      <span class="material-icons-outlined">
        arrow_back_ios
      </span>
    </a>
    <h1>Detail</h1>
  </div>
  <hr>
  <p>내용: {{ ab.note }}</p>
  <p>금액: {{ ab.amount }}</p>
  <p>분류: {{ ab.category }}</p>
  <p class="mb-2">메모: {{ ab.description }}</p>
  <p class="date">{{ ab.date|date:"Y-m-d" }}</p>
  <a href="{% url 'abs:edit' ab.pk %}"  class="btn btn-outline-primary">수정하기</a>
  <a href="{% url 'abs:copy' ab.pk %}" class="btn btn-outline-primary">복사하기</a>
  <a href="{% url 'abs:delete' ab.pk %}" onclick="return confirm('삭제하시겠습니까?')"  class="btn btn-outline-danger">삭제하기</a>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>