{% extends 'base.html' %}

{% block style %}
{% endblock style %}

{% block content %}
  <div>
    <div class="mb-1">
      <a class="btn btn-secondary btn-sm" href="{% url 'posts:update' post.pk %}">수정</a>
      <a class="btn btn-secondary btn-sm" href="{% url 'posts:delete' post.pk %}">삭제</a>
    </div>
    <div class="border rounded-3 p-3">
      <div class="mb-3">
        <a href="{% url 'posts:category' post.category %}" class="text-success fw-bold">{{ post.category }}</a>
      </div>
      <h2>{{ post.title }}</h2>
      <hr>
      {{ post.content|linebreaksbr }}
    </div>
  </div>
{% endblock content %}