/* .modal { */
  /* max-width: 90%; */
  /* height: 1000px; */
/* } */
/* .modal,
.modal-dialog,
.modal-content,
.modal-body { */
  /* --bs-modal-width: 90%;
  height: 90%; */
  /* height: 90%;
  width: 90%; */
  /* height: 90%;
  max-height: 90%; */
/* } */

/* .modal.fade .modal.dialog {
  transform: translate(-50%,0);
} */

/* .modal {
width: auto;
max-width: 90%;
height: auto;
} */

/* .modal {
  width: auto;
  height: auto;
} */


/* .modal-body {
  width: auto;
  max-width: 90%;
  height: auto;
} */

/* .modal-dialog {
  max-width: 800px;
  width: 100%;
} */

/* .modal-fullscreen { */
  /* --bs-modal-width: 90%; */
  /* width: 90vw; */
  /* max-width: 90%; */
  /* height: 90%; */
  /* margin: 0; */
/* } */

/* .modal-dialog { */
  /* max-width: 1000px; */
  /* max-height: 600px; */
/* } */