{% extends 'base.html' %}

{% block style %}
#login {
  margin-top: 10rem;
}
{% endblock style %}

{% block content %}
  <div id="login">
    <div class="d-flex justify-content-center">
      <form action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="input-group mb-3">
          <span class="input-group-text" id="{{ field.auto_id }}">{{ field.label }}</span>
          {{ field }}
        </div>
        {% endfor %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <div class="d-grid">
          <input class="btn btn-success" type="submit" value="로그인">
        </div>
      </form>
    </div>
  </div>
{% endblock content %}