{% extends 'base.html' %}

{% block style %}
#signup {
  margin-top: 10rem;
}
{% endblock style %}

{% block content %}
  <div id="signup" class="d-flex justify-content-center">
    <form action="{% url 'accounts:signup' %}" method="POST">
      {% csrf_token %}
      {% for field in form %}
      <div class="input-group mb-3">
        <span class="input-group-text" id="{{ field.auto_id }}">{{ field.label }}</span>
        {{ field }}
      </div>
      {% endfor %}
      <div class="d-grid">
        <input class="btn btn-success" type="submit" value="회원 가입">
      </div>
    </form>
  </div>
{% endblock content %}